# ORDS Variables
ORDS_PATH=/u01/ords
ORDS_CONFIG=/u01/config_ords
ORDS_LOGPATH=/u01/logs_ords
ORDS_HTTP_PORT=8080

# ORDS SSL Variables
ORDS_HTTPS_PORT=8443
ORDS_CERT_PATH=/u01/certs
ORDS_CERT=ords.local.pem
ORDS_CERT_KEY=ords.local-key.pem

# DB Config Variables
DB_HOST=192.168.56.10
DB_PORT=1521
DB_SERVICENAME=ORCL

# Security
PWFILE=/u01/passwords/password.txt

# Apex 
# APEX_PATH=${APEX_PATH:-/u01/apex_242/}
